<!doctype html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <header>
    {{>header}}
    {{>loginn}}
    </header>
     <section id="LOGIN">
        <section id="login-form">
            <div id="login">
            <div class="_log-div1">
                <div class="_log-div2">
                    <div class="_log-div3">
                        <div id="loginM">
                            <div id="login-sub">
                                <div id="login-menu-font">
                                    <div><i class="far fa-user"></i></div>
                                </div>
                                <input class="login-inp" type="email" placeholder="email">
                                <br>
                                <br>
                                <input class="login-inp" type="password" placeholder="password">
                                <br>
                                <br>
                                <button id="login-menu-btn" type="submit"><strong> LOG IN </strong></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </section>
  {{!-- ////////////////////////////////////////////////////// --}}
  <body>
    {{!-- //////////////////////////////////////////////////// --}}
    <section class="sec_01">
      <h3 class="mid_head">OUR PRODUCT</h3>
      <div class="_3divM">
        <div class="_2divM"> 
          <div class="mid_head"><i class="fab fa-jedi-order"></i></div>
          <div><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam magnam ad, sed illo exercitationem qui omnis recusandae soluta perferendis delectus suscipit reprehenderit mollitia quidem earum repellendus asperiores maxime, rerum rem.</p></div>
        </div>

        <div class="_2divM"> 
          <div class="mid_head"><i class="fas fa-medal"></i></div>
          <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam magnam ad, sed illo exercitationem qui omnis recusandae soluta perferendis delectus suscipit reprehenderit mollitia quidem earum repellendus asperiores maxime, rerum rem.</div>          
        </div>

        <div class="_2divM">
          <div class="mid_head"><i class="fas fa-medal"></i></div>
          <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam magnam ad, sed illo exercitationem qui omnis recusandae soluta perferendis delectus suscipit reprehenderit mollitia quidem earum repellendus asperiores maxime, rerum rem.</div>
        </div>
      </div>
    </section>

    <section id="sec_02">
    <section class="sec_02">
      <div class="_2divBM">

        <div id="_divP1">
          <h3 class="mid_head">About US</h3>  
          <p class="jstfy">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error quo, possimus vel nesciunt et consequatur magnam totam saepe nihil dolorem.</p>
        </div>

        <div id="_divP2">
        <div id="_divP2-in">
          <div>
          <p> About us</p>
         </div>
         </div>
       </div>

      </div>
      
    </section>
  </section>


    <section class="sec_03">
      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="..." class="d-block w-100" alt="..."> 
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
       <img src="..." class="d-block w-100" alt="..."> 
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    </section>


    <section class="sec_04">
      <div>
        <form id="subscrip" action="#">
          <input id="inp" type="email" placeholder="example@gmail.com" autocomplete="off" style="color: green;">
          <button id="bon">Subscribe</button>
        </form>
      </div>
    </section>

    <section class="sec_05">
      <h3 class="mid_head">PEOPLE ALSO SEARCH FOR</h3>
      <div class="_3divM">
        <div class="_2divM">
          <div class="mid_head"><i class="fab fa-jedi-order"></i></div>
          
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam magnam ad, sed illo exercitationem qui omnis recusandae soluta perferendis delectus suscipit reprehenderit mollitia quidem earum repellendus asperiores maxime, rerum rem.</p>
        </div>
        <div class="_2divM">
          <div class="mid_head"><i class="fas fa-medal"></i></div>
          <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam magnam ad, sed illo exercitationem qui omnis recusandae soluta perferendis delectus suscipit reprehenderit mollitia quidem earum repellendus asperiores maxime, rerum rem.</div>          
        </div>
        <div class="_2divM">
          <div class="mid_head"><i class="fas fa-medal"></i></div>
          <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam magnam ad, sed illo exercitationem qui omnis recusandae soluta perferendis delectus suscipit reprehenderit mollitia quidem earum repellendus asperiores maxime, rerum rem.</div>
        </div>
      </div>
    </section>

  <!-- SEARCH MENUE -->

    <script src="home.js"></script>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
    {{>footer}}
<!-- /* ------------------------------------------------------------- */ -->
<!-- /*  Top navigation button */ -->
<!-- /* ------------------------------------------------------------- */ -->

      <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-angle-double-up"></i></button>

      <script>
        //Get the button:
mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
      </script>
      <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  
  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
<script src="index.js"></script>