/* // tailwind.config.js
module.exports = {
  theme: {
    screens: {
      'tablet': '640px',
      // => @media (min-width: 640px) { ... }

      'laptop': '1024px',
      // => @media (min-width: 1024px) { ... }

      'desktop': '1280px',
      // => @media (min-width: 1280px) { ... }
    },
  }
} */
*{
    padding: 0%;
    margin: 0%;
  }

  #fst-cont{
    width: 100%;
    height: 60vh;
    /* background: url(../public/img/main.jpg);  */
    background-image: url(../img/main.jpg);
    /* animation: float-border 25s infinite linear; */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:100% 0% 100% 0% / 0% 96% 4% 100%  ;
}
/* @keyframes float-border {
    0%{
        border-radius:  61% 39% 74% 26% / 18% 72% 28% 82% ;
        background: linear-gradient( 0deg,rgb(61, 33, 173), rgb(231, 4, 156));
    }
    20%{
        border-radius:  38% 62% 50% 50% / 54% 54% 46% 46%  ;
        background: linear-gradient( 30deg,rgb(61, 33, 173), rgb(231, 4, 156));
    }
    40%{
        border-radius:  22% 78% 36% 64% / 73% 35% 65% 27%  ;
        background: linear-gradient( 60deg,rgb(61, 33, 173), rgb(231, 4, 156));
    }
    60%{
        border-radius:  30% 70% 20% 80% / 80% 25% 75% 20%  ;
        background: linear-gradient( 90deg,rgb(61, 33, 173), rgb(231, 4, 156));
    }
    100%{
        border-radius:  61% 39% 74% 26% / 18% 72% 28% 82%  ;
        background: linear-gradient( 0deg,rgb(61, 33, 173), rgb(231, 4, 156));
    }
} */
#sec-cont{
    width: 100%;
    height: 100%;
    background: linear-gradient( 90deg,rgba(84, 2, 247, 0.459), rgba(247, 0, 161, 0.589));
    /* background: #000; */
    display: flex;
    justify-content: center;
}
#trd-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius:0% 100% 0% 100% / 96% 0% 100% 4%;
    background: linear-gradient( 90deg,rgba(84, 2, 247, 0.459), rgba(247, 0, 161, 0.589));
    /* background: linear-gradient( 90deg,rgba(84, 2, 247, 0.459), rgba(247, 0, 161, 0.589)); */
    /* border-radius: 0% 100% 0% 100% / 86% 0% 100% 14%  ; */

}

#bnr-txt{
    color: #fff;
}
/* //////////////////////////////////////////// */

  /* ****************SEC1/////////////// */
  .sec_01{
    /* padding: 50px 250px 5px 250px; */
    margin-bottom: 1vh;
  }
  /* ********* */
  ._3divM{
    display: flex;
    flex-wrap: wrap;
     justify-content: center;
  }
  ._3divM ._2divM{
    min-width:300px ;
    max-width: 500px;
    font-size: medium;      /*FONT*/
    flex-wrap: wrap;
    color: green;
    flex: 1;
  }
  
  .mid_head{
    text-align: center;
    align-content: center;
    align-items: center;
  }
  
  .mid_head i{
    font-size: 2rem;
  }
  
  ._2divM{
    display: flex;
    flex-direction: column;
  }
  ._2divM div{
    font-size: medium;
    color: green;
    width: 100%;
  }
  ._2divM :last-child{
    padding: 20px;
    text-align: center;
  }
  
  
  
  
  
  
  
  
  /* ********* sec_02******** */
  #sec_02{
    display: flex;
    justify-content: center;
    background: rgb(240, 240, 240);
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .sec_02{
    background: rgb(240, 240, 240);
  
  }
  
  .jstfy{
    text-align: center;
  }
  ._2divBM{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  ._2divBM #_divP1{
    flex: 2;
    min-width: 300px;
  }
  ._2divBM #_divP2{
    flex: 1;
    min-width: 300px;
    background: url(../img/people.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
  }
  
  #_divP2-in{
    background: rgba(83, 90, 88, 0.402);
  }
  
  
  
  /* ************************************************* */
  
  
  
  
  
  
  
  
  /* **********sec_03************* */
  
  .sec_03{
    margin-bottom: 1vh;
  }
  /* ************************************************* */
  
  
  
  
  
  
  
  
  /* **********sec_04************* */
  
  .sec_04{
    padding: 2px;
    margin-bottom: 1vh;
    background: rgb(5, 199, 128);
    max-height: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   align-items: center; 
  }
  #subscrip{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
  }
  
  #inp{
    border: 1px solid white;
    padding: 3px;
    width: 300px;
    background:  rgb(5, 199, 128);
    color: white;
    border-radius: 4px;
    margin-right: 30px;
    outline: none;
  }
  #bon{
    background: white;
    color: rgb(5, 199, 128);
    outline: none;
    border: 2px solid rgb(5, 199, 128);
    float: inline-end;
    float: right;
    padding: 3px;
    margin-right: 30px;
    width: 100px;
    border-radius: 4px;
  }
  
  /* ABBRIBRIATION 
  B baner
  M main
  P personal
  */
  
  
  
  
  
  
 
  
a{
    text-decoration: none;
}

.topic-head{
    font-size: 30px;
}

footer{
    background-color: black;
    color: aliceblue;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    font-size: small;
    justify-content: space-between;
}

.footer-item{
    margin-left: 20px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }


   /* 
  <i class="fab fa-facebook-square"></i>
  <i class="fab fa-instagram"></i>
  <i class="fab fa-twitter-square"></i>
  <i class="fab fa-whatsapp-square"></i>
  <i class="fab fa-telegram"></i>
  
  */
  
  
  /* ******************* */
  /*      media query      */
  
    /* @media screen and (max-width : 1566px) {
      .sec_01{
        padding: 5px 25px 5px 25px
      }
      .sec_02{
        padding: 5px 25px 5px 25px
      }
      .sec_03{
        padding: 5px 25px 5px 25px
      }
      .sec_04{
        padding: 5px 25px 5px 25px
      }
      
    }
    @media screen and (max-width : 645px) {
      .sec_01{
        padding: 5px 25px 5px 25px
      }
      .sec_02{
        padding: 5px 25px 5px 25px
      }
      .sec_03{
        padding: 5px 25px 5px 25px
      }
      .sec_04{
        padding: 5px 25px 5px 25px
      }
      
    }
    @media screen and (max-width : 645px) {
      .sec_01{
        padding: 5px 25px 5px 25px
      }
      .sec_02{
        padding: 5px 25px 5px 25px
      }
      .sec_03{
        padding: 5px 25px 5px 25px
      }
      .sec_04{
        padding: 5px 25px 5px 25px
      }
      
    }
    @media screen and (max-width : 645px) {
      .sec_01{
        padding: 5px 25px 5px 25px
      }
      .sec_02{
        padding: 5px 25px 5px 25px
      }
      .sec_03{
        padding: 5px 25px 5px 25px
      }
      .sec_04{
        padding: 5px 25px 5px 25px
      }
      
    } */
    #LOGIN{
        position:absolute;
        display: none;
        width: 100%;
        height: 100vh;
        left: 20;
        right: 20;
        bottom: 0;
        background-color: rgba(255, 251, 255, 0);
        cursor: pointer;
        position: fixed;
      }

.lgin{
    font-size: medium;
}
.lgin a{
    text-decoration: none;
    font-size: medium;
    color: #fff;
}
#login{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(233, 240, 241, 0.918);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
._log-div2{
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 100% 0% 100% 0% / 0% 33% 67% 100% ;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    /* border-radius: 10px; */
    background-image: linear-gradient(to right,rgb(61, 33, 173), rgb(231, 4, 156));
}
._log-div1{
    width:40%;
    height: 60%;
    min-width: 280px;
    max-width: 300px;
    border-radius: 10px;
    background: #97026587;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
._log-div3{
    width:100%;
    height: 100%;
    min-width: 280px;
    max-width: 300px;
    background: #b392a887;
    border-radius: 10px;
}
#loginM{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-inp{
    padding: 5px;
    font-size: large;
    border-radius: 10px;
    outline: none;
    border: 2px solid rgba(204, 154, 154, 0);
}
#login-menu-btn{
    padding: 5px;
    font-family: 'Caveat', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'Permanent Marker', cursive;
    outline: none;
    border-radius:10px ;
    border: 2px solid rgba(204, 154, 154, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}
#login-menu-font{
    display: flex;
    justify-content: center;
}
#login-menu-font div{
    font-size: 33px;
    color: #fff;
}
#login a{
    text-decoration: none;
    color: #000;
}





/*******************************************************************/
/*              HURRAY          */
/*******************************************************************/

#hurray{
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sub-hurray{
  background: url(../img/hurray.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 900px;
  min-width: 270px;
  max-height: 500px;
  min-height: 100%;
  flex: 1;
}
