<footer class="footer">
 
      <div class="footer-item">
    
      <h3>desire<span><br>you want it you get it</span></h3>
    
      <p class="footer-links">
      <a href="index.html">Home</a>
      <a href="#">About Us</a>
    
      <a href="#">Contact</a>
      </p>
    
      <p class="footer-company-name">v&v Desire &copy; 2021</p>
      </div>
    
      <div class="footer-item">
    
      <div>
      <i class="fa fa-map-marker"></i>
      <p>Guwahati,Assam, India</p>
      </div>
    
      <div>
      <i class="fa fa-phone"></i>
      <p>+19 1234567890</p>
      </div>
    
      <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:nayancodeing@gmail.com">nayancodeing@gmail.com</a></p>
      </div>
    
      </div>
    
      <div class="footer-item">
    
      <p class="footer-company-about">
      <span>About the company</span>
        this is desire
      </p>
    
      <div class="footer-icons">
    
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
    
      </div>
    
      </div>
    
      </footer>
<script src="js/index.js"></script>