  <section id="LOGIN">
        <section id="login-form">
            <div id="login">
            <div class="_log-div1">
                <div class="_log-div2">
                    <div class="_log-div3">
                        <div id="loginM">
                            <div id="login-sub">
                                <div id="login-menu-font">
                                    <div><i class="far fa-user"></i></div>
                                </div>
                                <input class="login-inp" type="email" placeholder="email">
                                <br>
                                <br>
                                <input class="login-inp" type="password" placeholder="password">
                                <br>
                                <br>
                                <button id="login-menu-btn" type="submit"><strong> LOG IN </strong></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </section>